<%- include("header") -%>

<h2>This is about page</h2>
<p>It is a software to store the data that entered by the user and this is deploped by using EJS Embededjavascript. </p>

<%- include("footer") -%>